:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);

    --VeryDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);

}

@font-face {
    font-family: Poppins;
    src: url("./fonts/Poppins-Regular.ttf");
}

*{
    box-sizing: border-box;
    margin: 0; padding: 0;
}

body {
    font-family: Poppins;
    font-size: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 1em;
    gap: 1em;
}

h2 {
    color: var(--VeryDarkBlue);
    text-align: center;
    margin-bottom: .5em;
}

h2:first-child {
    font-weight: 400;
}

section.items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: .5em;
}

/* .info {
    color: var(--grayishBlue);
    font-size: 1.2em;
}

h3 {
    color: var(--VeryDarkBlue);
    font-size: 2em;
} */

.item {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    margin-bottom: 1em;
    box-shadow: 0 0 10px rgb(45, 42, 42);
    border-radius: 10px;
}

svg{
    align-self: flex-end;
}

.item_1{
    border-top: 5px solid var(--red);
    grid-column: 2/span 1;
    grid-row: 1/span 1;
    transform: translateY(5em);

}

.item_2{
    border-top: 5px solid var(--cyan);
    grid-column: 3/ span 1;
    grid-row: 2/ span 1;
}

.item_3{
    border-top: 5px solid var(--Orange);
    grid-column: 2/ span 1;
    grid-row: 3/ span 1;
    transform: translateY(-5em);
}

.item_4{
    border-top: 5px solid var(--Blue);
    grid-column: 1/ span 1;
    grid-row: 2/ span 1;
}




@media screen and (max-width: 600px) {

    section {
        display: grid;
        grid-template-columns: minmax(350px, 450px);
    }

    section.text {
        margin-bottom: 1.2em;
    }

    section.items {
        grid-template-rows: repeat(4, 1fr);
        grid-row-gap: 1em;
    }

    .item_1, .item_2, .item_3, .item_4{
        grid-column: 1/4;
    }

    .item_1{
        grid-row: 1/2;
        transform: translateY(-1em);
    }

    .item_2{
        grid-row: 2/3;
    }

    .item_3{
        grid-row: 3/4;
        transform: translateY(1em);
    }

    .item_4 {
        grid-row: 4/5;
    }
    h3{font-size: 1.4em;}

    .info{font-size: 1em;}

}

